In [1]:
import pandas as pd

In [2]:
df1=pd.read_csv('Data_2015.csv')
df2=pd.read_csv('Data_2016.csv')
df3=pd.read_csv('Data_2017.csv')
df4=pd.read_csv('Data_2018.csv')

In [3]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5524 entries, 0 to 5523
Data columns (total 8 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   OPE_ID                        5524 non-null   int64
 1   Institution_Name              5524 non-null   object
 2   Institution_City              5524 non-null   object
 3   Institution_State             5524 non-null   object
 4   Institution Type And Control  5524 non-null   object
 5   Total_Awards                  5524 non-null   int64
 6   year                          5524 non-null   int64
 7   Total_Recipients              5524 non-null   int64
dtypes: int64(4), object(4)
memory usage: 345.4+ KB

In [4]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5466 entries, 0 to 5465
Data columns (total 8 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   OPE ID                        5466 non-null   int64
 1   Institution Name              5466 non-null   object
 2   Institution City              5466 non-null   object
 3   Institution State             5466 non-null   object
 4   Institution Type And Control  5466 non-null   object
 5   Total Awards                  5466 non-null   int64
 6   year                          5466 non-null   int64
 7   Total Recipients              5466 non-null   int64
dtypes: int64(4), object(4)
memory usage: 341.8+ KB

In [13]:
df_final= pd.concat([df4,df3], ignore_index=True, axis=0)

In [21]:
df_final.to_csv('Data_17-18.csv',index=False)

In [19]:
df_o.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16008 entries, 0 to 5465
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   OPE_ID                        10542 non-null  float64
 1   INSTITUTION NAME              10542 non-null  object
 2   INSTITUTION CITY              10542 non-null  object
 3   INSTITUTION STATE             10542 non-null  object
 4   INSTITUTION TYPE AND CONTROL  10542 non-null  object
 5    TOTAL AWARDS                 10542 non-null  float64
 6   year                          16008 non-null  int64
 7    TOTAL RECIPIENTS             10542 non-null  float64
 8   OPE ID                        5466 non-null   float64
 9   Institution Name              5466 non-null   object
 10  Institution City              5466 non-null   object
 11  Institution State             5466 non-null   object
 12  Institution Type And Control  5466 non-null   object
 13  Total Awards                  5466 non-null   float64
 14  Total Recipients              5466 non-null   float64
dtypes: float64(6), int64(1), object(8)
memory usage: 2.0+ MB

In [14]:
df_final.to_csv('Data_15-18.csv',index=False)

In [4]:
df=pd.read_excel('pellinst1718.xlsx')
df.to_csv('Data_2018.csv',index=False)