In [1]:
import mysql.connector
import pandas as pd
from mysql.connector import Error

In [2]:
df=pd.read_csv('Data_17-18f.csv')

In [3]:
df.isna().sum()

OPE_ID                          0
INSTITUTION NAME                0
INSTITUTION CITY                0
INSTITUTION STATE               0
INSTITUTION TYPE AND CONTROL    0
 TOTAL AWARDS                   0
year                            0
 TOTAL RECIPIENTS               0
dtype: int64

In [5]:
cnx = mysql.connector.connect(user='root', password='Omkar@1600',
                              host='127.0.0.1'
                              )
cur= cnx.cursor()
cur.execute("Create Database US_Student_Dept_17_18")
cnx.close()

In [19]:
def create_db_connection(u_name,password, db_name):
    connection = None
    try:
        connection = mysql.connector.connect(
            user=u_name,
            passwd=password,
            database=db_name
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")

    return connection

cnx=create_db_connection('root','Omkar@1600','us_student_dept_17_18')

MySQL Database connection successful

In [7]:
def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query successful")
    except Error as err:
        print(f"Error: '{err}'")

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10542 entries, 0 to 10541
Data columns (total 8 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   OPE_ID                        10542 non-null  int64
 1   INSTITUTION NAME              10542 non-null  object
 2   INSTITUTION CITY              10542 non-null  object
 3   INSTITUTION STATE             10542 non-null  object
 4   INSTITUTION TYPE AND CONTROL  10542 non-null  object
 5    TOTAL AWARDS                 10542 non-null  int64
 6   year                          10542 non-null  int64
 7    TOTAL RECIPIENTS             10542 non-null  int64
dtypes: int64(4), object(4)
memory usage: 659.0+ KB

In [20]:
Create_table=''' CREATE TABLE DATA_17_18(
OPE_ID INT,
INSTITUTION_NAME VARCHAR(40),
INSTITUTION_CITY VARCHAR(30),
INSTITUTION_STATE VARCHAR(30),
INSTITUTION_TYPE  VARCHAR(20),
TOTAL_AWARDS INT,
year INT,
TOTAL_RECIPIENTS INT 
)'''

In [21]:
execute_query(cnx,Create_table)

Query successful

In [22]:
Insert_Query=''' INSERT INTO data_17_18(OPE_ID,INSTITUTION_NAME,INSTITUTION_CITY,INSTITUTION_STATE,INSTITUTION_TYPE,TOTAL_AWARDS,year,TOTAL_RECIPIENTS )
VALUES(%s,%s,%s,%s,%s,%s,%s,%s)'''

In [23]:
conec=cnx.cursor()
for i,row in df.iterrows():
    conec.execute(Insert_Query,list(row))

cnx.commit()

In [18]:
cnx.close()